<div class="product-gallery-splide splide" data-product-id="{{ product.id }}">
  <div class="splide__track">
    <ul class="splide__list">
      {% for img in product.images %}
        <li class="splide__slide" data-image-id="{{ img.id }}">
          <div class="gallery__image">
            <img src="{{ img | img_url: '1024x' }}" data-full="{{ img | img_url: '2048x' }}" data-image-id="{{ img.id }}" alt="{{ product.title | escape }}" loading="lazy">
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% if product.images.size > 1 %}
<div class="product-gallery-thumbnails splide" data-product-id="{{ product.id }}">
  <div class="splide__track">
    <ul class="splide__list">
      {% for img in product.images %}
        <li class="splide__slide" data-image-id="{{ img.id }}">
          <div class="thumb">
            <img src="{{ img | img_url: '160x' }}" data-image-id="{{ img.id }}" alt="{{ product.title | escape }}" loading="lazy">
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

<div class="lightbox" aria-hidden="true">
  <button class="lightbox__close" aria-label="Fechar">✕</button>
  <img class="lightbox__img" src="" alt="">
</div>
