<section class="featured-products container" aria-label="Produtos em destaque">
  <h2 class="section-title">Em Destaque</h2>
  <div class="splide featured-splide" aria-label="Produtos em destaque">
    <div class="splide__track">
      <ul class="splide__list">
        {% for product in collections['frontpage'].products limit:8 %}
          <li class="splide__slide">
            <div class="product-card">
              <a href="{{ product.url }}">
                <div class="product-card__media">
                   <img src="{{ product.featured_image | img_url: '800x' }}" alt="{{ product.title }}" loading="lazy">
                   {% if product.images.size > 1 %}
                     <img class="hover-img" src="{{ product.images[1] | img_url: '800x' }}" alt="{{ product.title }}" loading="lazy">
                   {% endif %}
                </div>
                <div class="product-card__info">
                  <h3>{{ product.title }}</h3>
                  <div class="price">
                    {% if product.compare_at_price_max > product.price %}
                      <span class="price--old">{{ product.compare_at_price_max | money }}</span>
                      <span class="price--sale">{{ product.price | money }}</span>
                      <span class="tag tag--sale">Promoção</span>
                    {% else %}
                      <span class="price--normal">{{ product.price | money }}</span>
                    {% endif %}
                  </div>
                </div>
              </a>
              <button class="btn btn--primary btn--buy">Comprar</button>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

{% schema %}
{
  "name":"Featured products",
  "settings":[],
  "presets":[{"name":"Featured products"}]
}
{% endschema %}
