<section class="related-products container">
  <h3 class="section-title" data-i18n="prod_recommended">Produtos recomendados</h3>
  {% assign recommended_products = recommendations.products %}
  {% if recommended_products.size == 0 %}
    {% assign recommended_products = collections['frontpage'].products %}
  {% endif %}
  <div class="related-products__grid" data-related-products data-product-id="{{ product.id }}" data-limit="4">
      {% for related_product in recommended_products limit:4 %}
        {% unless related_product.id == product.id %}
          <div class="product-card">
            <a href="{{ related_product.url }}">
              <div class="product-card__media">
                {% if related_product.compare_at_price_max > related_product.price %}
                  <span class="tag tag--sale" data-i18n="prod_promo">Promoção</span>
                {% endif %}
                <img src="{{ related_product.featured_image | img_url: '800x' }}" alt="{{ related_product.title | escape }}" loading="lazy">
                {% if related_product.images.size > 1 %}
                  <img class="hover-img" src="{{ related_product.images[1] | img_url: '800x' }}" alt="{{ related_product.title | escape }}" loading="lazy">
                {% endif %}
              </div>
              <div class="product-card__info">
                <h4>{{ related_product.title }}</h4>
                <div class="price">
                  {% if related_product.compare_at_price_max > related_product.price %}
                    <span class="price--old">{{ related_product.compare_at_price_max | money }}</span>
                    <span class="price--sale">{{ related_product.price | money }}</span>
                  {% else %}
                    <span class="price--normal">{{ related_product.price | money }}</span>
                  {% endif %}
                </div>
              </div>
            </a>
            <a href="{{ related_product.url }}" class="btn btn--primary btn--buy" data-i18n="prod_view">Ver Produto</a>
          </div>
        {% endunless %}
      {% endfor %}
  </div>
</section>

{% schema %}
{"name":"Related products","settings":[],"presets":[{"name":"Related"}]}
{% endschema %}
